html, body {
    background-color: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
header {
    width: 100%;
    overflow: auto;
    background-color: #eb9a00;
}
header h1 {
    padding: 25px;
    margin: 0;
    font-size: 40px;
    color: #fff;
}

.page {
    height: calc( 100% - 99px );
    width: 100%;
    position: absolute;
    top: 99px;
}

/* page-subject-selector */
.page#page-subject-selector .title {
    text-align: center;
    font-size: 30px;
    color: #eb9a00;
}
.page#page-subject-selector .picker-level-1 {
    width: calc( (250px + 28px) * 3);
    margin: 0 auto;
}
.page#page-subject-selector .picker-level-1 .option {
    width: 250px;
    float: left;
    margin: 10px;
    height: 250px;
    text-align: center;
    background-position: center;
    background-size: cover;
    border: 4px solid #eb9a00;
    transition: 1s ease;
}
.page#page-subject-selector .picker-level-1 .option:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    
    -webkit-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.51);
    box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.51);
    
    z-index: 10;
}
.page#page-subject-selector .picker-level-1 .option p {
    font-size: 30px;
    color: #eb9a00;
}
.page#page-subject-selector .picker-level-1 .option#biology {
    background-image: url(images/biology.jpg);
}
.page#page-subject-selector .picker-level-1 .option#chemistry {
    background-image: url(images/chemistry.jpg);
}
.page#page-subject-selector .picker-level-1 .option#physics {
    background-image: url(images/physics.jpg);
}